
<%- include('../partials/header') %> 
<body id="page-top">
   <section id="about">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 mx-auto">
           <h2>Séries</h2>
           <p class=" ">Todas as séries cadastradas </p>
      

           <table class="table table-bordered table-hover">
            <thead class="thead-dark">
               
                <p style="text-align: right;"><a type="button" class="btn btn-info" href="/series/nova">Nova série</a></p>
              
               
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
               <th>Ações</th>
              </tr>
            </thead>
            <tbody>
                
              
                <% series.forEach(serie => { %>
                  <tr>
                <td><%= serie.name %></td>

                <!-- Outra alternativa -->
                 <!--   labels.filter(label => label.id === serie.status)[0].name  -->
                <% labels.forEach(label => { %>
                  <% if(label.id === serie.status){ %>  
                <td><span class="badge badge-pill <%= label.badge %>"><%= label.name %></span></td>
                <td>
                  <div class="btn-group   " role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-info  btn-sm" onclick="location.href='/series/editar/<%= serie._id %>';">Editar</button>
                    <button type="button" class="btn btn-danger  btn-sm"  onclick="location.href='/series/excluir/<%= serie._id %>';">Excluir</button>
                  </div>
                </td>
              </tr>
       <% } %>
   <% }) %>          
<% }) %>
            
           
            </tbody>
          </table>
          
   
         </div>
       </div>
     </div>
   </section>
   <%- include('../partials/footer') %> 